# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Gradebook/bin
/Gradebook/obj
/Gradebook/Properties
/GuessTheNumberGame (Assignment 7.30)/bin
/GuessTheNumberGame (Assignment 7.30)/obj
/GuessTheNumberGame (Assignment 7.30)/Properties
/ParkingCharges (Assignment 7.8)/bin
/ParkingCharges (Assignment 7.8)/obj
/ParkingCharges (Assignment 7.8)/Properties
/PythagoreanTriples/bin
/PythagoreanTriples/obj
/PythagoreanTriples/Properties
/TabularOutput/TabularOutput/bin
/TabularOutput/TabularOutput/obj
/TabularOutput/TabularOutput/Properties
